<h1>New Review</h1>
<%= form_for @review do |f| %>
    <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %><br />
    </p>
    <p>
        <%= f.label :comment %><br />
        <%= f.text_area :comment %><br />
    </p>
        <%= f.label :rating %><br />
        <%= f.text_field :rating %><br />
        <%= f.hidden_field :movie_id, :value => @movie_id %>
        <%= f.hidden_field :movie_title, :value => @movie_title %>
    <p>
        <%= f.submit "Add Post" %>
    </p>
<% end %>