<!DOCTYPE html>
<html>
  <head>
    <title>Movie Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand mr-auto">Movie Reviews</div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item navbar-text mr-2"><%= link_to_unless_current "Home", home_index_path %></li>
        <li class="nav-item navbar-text mr-2"><%= link_to_unless_current "Movies", movies_path %></li>
        <li class="nav-item navbar-text mr-2"><%= link_to_unless_current "Reviews", reviews_path %></li>
        <li class="nav-item navbar-text"><%= link_to_unless_current "About", home_about_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
