<!DOCTYPE html>
<html>
  <head>
    <title>Movie Reviews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand mr-auto">Movie Reviews</div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item navbar-text mr-2"><%= link_to_unless_current "Home", home_index_path %></li>
        <li class="nav-item navbar-text mr-2"><%= link_to_unless_current "Movies", movies_path %></li>
        <li class="nav-item navbar-text mr-2"><%= link_to_unless_current "Reviews", reviews_path %></li>
        <li class="nav-item navbar-text"><%= link_to_unless_current "About", about_path %></li>
      </ul>
    </nav>
        <div style="padding-top: 60px">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  <nav class="navbar fixed-bottom navbar-dark bg-dark p-1">
    <div class="ml-auto text-light" style="font-size: 14px">
      <%= image_tag "tmdb.svg", size: '25x25', class: 'p-0 m-0' %>
      This product uses the TMDb API but is not endorsed or certified by TMDb.
    </div>
  </nav>
  </body>
</html>
